



body {
font-family: 'Arial', sans-serif !important;
}
  /*Navigation*/

.navbar {

   
    width: 100%;
    background-color: blue !important;
    background-size: cover;
   justify-content: space-evenly !important;
   
    
}

.nav-link, .nav-link-active {

color: azure;
margin: 0px 35px;



}
/*Hero/Jumbotron Section*/

.mepic {
    align-items: center;
    border-color: blue;
    
}

.jumbo {

  
    background-image: url(/i);
    background-repeat: no-repeat;
    height:
    display: flex;
    justify-content: center;
    padding: 0%;
    

}


#jumbo1 {

    
    color: rgb(0, 60, 255);
    text-align: center;
    align-items: center;


   

}

.jumbo-pic {

    align-items: center;
    width: auto;
    border-radius: 50%;

}

/*Work/Portfolio Section*/

#work {

    padding-left: 5%;
    padding-right: 5%;
}

.content {

    text-align: center;
    padding: 2%;
    size: 5%;

}

/*Skills/list Section*/

#skills{
width: 30%;
}

.img {
   
}
/*About/Contact section*/

.goblet {

    padding-left: 20%;
   padding-right: 20%;
    padding-top: 5%;
   

    align-items: center;
}

/*Footer Section*/

.background {
    background-image: url(/images/cloudbk-seamless.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.footer {
 
}



#contact {
    align-items: center !important;
}

.card-body {
    display:inline;
}

.icons {
   
    justify-content: space-evenly !important;
    display: flex;
    padding: 5%;
}
.h1{
    

   

    
}

.h2 {

}

.h3 {


}