body {
    font-family: 'Arial', sans-serif !important;
    text
}

/*Navigation*/

.navbar {

    background-color: blue !important;

    justify-content: space-evenly !important;
    display: flex;
    padding: 2%;

}

.nav-link,
.nav-link-active {

    color: azure;
    margin: 0px 35px;



}

/*Hero/Jumbotron Section*/

.mepic {
    align-items: center;
    border-color: blue;
    border: 10px solid blue;
    border-style: dashed;

}

.jumbo {



    background-repeat: no-repeat;
    height:
        display: flex;
    justify-content: center;
    padding: 0%;


}


#jumbo1 {


    color: rgb(0, 60, 255);
    text-align: center;
    align-items: center;




}

.jumbo-pic {

    align-items: center;
    width: auto;
    border-radius: 50%;

}

/*Work/Portfolio Section*/

.card {

    padding: 5%;
    border-radius: 20%;
    margin-inline: 2%;
    margin-block-end: 5%;
    background-color: blue;
}

.card-img-top {

    border-radius: 15%;
}

.card-text {

    color: azure;
}

.card-title {
    color: azure;
}

.sectionHeading {
    color: blue;
}

#work {

    padding-left: 5%;
    padding-right: 5%;
}

.content {

    text-align: center;
    padding: 2%;
    size: 5%;

}

/*Image Hover Effect*/

.hover:hover {
    opacity: 0.4;
}


/*Skills/list Section*/

#skills {

    text-wrap: pretty;
    color: blue;
    border-color: blue;
    border: 10px solid blue;
    border-style: dashed;
    border-radius: 45%;
    padding: 5%;
    margin: auto;
    width: 50%;

}


.img {}

/*About/Contact section*/

.goblet {

    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 10%;


    align-items: center;
}

/*Footer Section*/

.background {
    background-image: url(../images/cloudbk-seamless.jpg);
    background-repeat: repeat;
    background-size: cover;

}

.footer {}



#contact {
    align-items: center !important;
}

.card-body {
    display: inline;
}

.icons {

    justify-content: space-evenly !important;
    display: flex;
    padding: 5%;
}

.h1 {}

.h2 {

    color: blue !important;

}

.h3 {}

.p {

    color: azure !important;
}